# System Files
.DS_Store
Thumbs.db

# IDEs/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local Server Log / Cache files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
*.log

# Remote credential overrides (if any)
.env
.env.local
.env.*.local
